:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --background-button-secondary: #f5f4fa;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-footer-hero: #2f303a;
}

/* --- Сброс --- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* --- END Сброс --- */

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* возможно, поменять цвет текста */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);

  /* ???
  margin-left: auto;
  margin-right: auto; */
}

/* Logo */
.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: var(--accent-color);
}

/* ========== HEADER ========== */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* навигация сайта */
.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* контакты */
.contact {
  display: flex;
  align-items: center;
  /* margin-left: auto; - как вариант, если убрать justify-content: space-between */
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-mail,
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}
/* ========== END HEDER ==========  */

/* ========== BUTTON ========== */

.main-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: #ffffff;
  background-color: var(--accent-color);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

.button-secondary {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-button-secondary);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary.current {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* ========== END BUTTON ========== */

/* ========== MAIN ========== */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-footer-hero);
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* ========== END MAIN ========== */

/* ========== ПРЕИМУЩЕСТВА (dignity) ========== */
.dignity {
  padding-top: 94px;
  padding-bottom: 47px;
}

.dignity-list {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.dignity-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.dignity-description {
  width: 270px;
}

.dignity-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dignity-text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ========== END ПРЕИМУЩЕСТВА (dignity) ========== */

/* ========== PROFILE (чем мы занимаемся) ========== */
.profile {
  padding-top: 47px;
  padding-bottom: 94px;
}

.profile-titel {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.profile-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .profile-item:not(:last-child) {
  margin-right: 30px;
} */

/* ========== END PROFILE (чем мы занимаемся) ========== */

/* ========== TEAM ========== */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  align-items: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-badge {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ========== END TEAM ========== */

/* ========== FOOTER ========== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-hero);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-footer span {
  color: var(--accent-color);
}
.footer-contact {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-mail-link {
  display: inline-block;

  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-mail:hover,
.footer-mail:focus {
  color: #ffffff;
}

.footer-tel:hover,
.footer-tel:focus {
  color: #ffffff;
}

/* ========== END FOOTER ========== */

/* ------- PAGE PORTFOLIO ------- */

/* ========== PROJECT ========== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.project-card {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* ========== END PROJECT ========== */
